{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": !secret latitude,
        "location_name": "Home",
        "longitude": !secret longitude,
        "time_zone": "UTC",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}